<header>
    <div class="">
        <div class="nav">
            <div class="logo">
                <img src="assets/nm2.png" alt="logo" width="50" height="50">
                <label>Nimap Infotech</label>
            </div>
            <div class="menu">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Services
                                </a>
                               
                            </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">User Managememnt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">StampInventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bar Codes</a>
                        </li>
                        </ul>
                    </div>
                </nav>
                <!-- <ul>
                    <a  class="nav-link dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Services</a>
                    <li style="font-size: medium;">User Managememnt</li>
                    <li style="font-size: medium;">My Orders</li>
                    <li style="font-size: medium;">Reports</li>
                    <li style="font-size: medium;">StampInventory</li>
                    <li style="font-size: medium;">Bar Codes</li>
                </ul> -->
            </div>
            <div class="menu-btn">
                
                    <!-- <li style="font-size: medium;">Invoice</li>
                    <li style="font-size: medium;">Coming Soon</li> -->
                     <!-- <li><img src="assets/notifc.jpg" alt="Notify" width="25px" height="25px"></li> -->
                        <!-- <li> <span class="sp" style="font-size: small;">Mr smith</span></li> -->
                        <button type="button" class="btn btn-light">Invoice</button>
                        <button type="button" class="btn btn-light">Coming Soon</button>                
            </div>
            <img src="assets/notifc.jpg" alt="Notify" width="25px" height="25px">
            <div class="profile">
                <span>Mr. Smith</span>
                <label>M</label>
            </div>
        </div>
    </div>
</header>