ul{
    margin: 0;
    padding: 0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
   
    /* color: white; */
    height: 8vh;
 }
 .icons{
    display: flex;
    padding: 8px;
 }
.icons .bi {
    padding: 5px 6px;
    border-radius: 18px;
    margin: 0 5px;
    font-size: 20px;
    border: 1px solid #ddd;
    /* padding: 4px 4px;
    border-radius: 18px;
    margin: 0 5px;
    border: 1px solid #ddd; */

 }
/* .footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: blueviolet;
    text-decoration: none;
} */