ul{
    margin: 0;
    padding: 0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
   
    /* color: white; */
    height: 8vh;
 }
/* .footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: blueviolet;
    text-decoration: none;
} */