<div class="container-fluid">
    <div class="row">
        <div class="col-12 rbc1 mt-3">
            <mat-card>
                <h3 class="fu">Frequently Used</h3>
                <div class="row rbh ">
                    <div class="col-md-4 mb-3 mb-lg-0">
                        <div class="d1">
                            <h2 style="margin: 0; font-size: 15px;">View Funds</h2>
                            <p style="margin: 0 0 5px; font-size: 12px;">You have used this service 20 times in the last one week</p>
                            <a style="color: purple;" href="#">Action CTA >></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-lg-0 ">
                        <div class="d1">
                            <h2 style="margin: 0; font-size: 15px;">Manage Users</h2>
                            <p style="margin: 0 0 5px; font-size: 12px;">You have used this service 20 times in the last one week</p>
                            <a style="color: purple;" href="#">Action CTA >></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-lg-0 ">
                        <div class="d1">
                            <h2 style="margin: 0; font-size: 15px;">View Orders</h2>
                            <p style="margin: 0 0 5px; font-size: 12px;">You have used this service 20 times in the last one week</p>
                            <a style="color: purple;" href="#">Action CTA >></a>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-12 rbn mt-3">
            <select class="allb">
                <option value="">All branches</option>
            </select>
            <div style="display: flex;" class="cm2">
                <select style="border-radius: 15px;">
                    <option value="">custom range</option>
                </select>
              <div style="margin-left: 5px;" class="dte">
             <p style="font-size: 14px; padding: 2px; margin: 0px;">March 2020 <span style="font-size: 13px;" class="material-icons">calendar_today</span></p>
              </div>
            </div>

        </div>
        <div class="col-md-12 mod">
            <mat-card>
                <h3 class="fu">Order Details</h3>
                <div class="row rbh ">
                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="d2">
                            <div class="row rd" style="margin-left: 10px;">
                                <h2 style="display: contents;">18 <span style="margin-left: 120px;" class="material-icons">all_inbox</span></h2>
                                <p style="margin: 0 0 1px; margin-left: -15px;">Total Orders</p>
                                <span style="font-size: 13px;" class="material-icons">trending_up</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="d2">
                            <div class="row rd" style="margin-left: 10px;">
                            <h2 style="display: contents;">10 <span style="margin-left: 100px;" class="material-icons">watch_later</span></h2>
                            <p style="margin: 0 0 1px; margin-left: -15px;">In progress</p>
                            <span style="font-size: 13px;" class="material-icons">trending_up</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-lg-0">
                        <div class="d2">
                            <div class="row rd" style="margin-left: 10px;">
                            <h2 style="display: contents;">5 <span style="margin-left: 120px;" class="material-icons">fact_check</span></h2>
                            <p style="margin: 0 0 1px; margin-left: -15px;">Completed Order</p>
                            <span style="font-size: 13px;" class="material-icons">trending_up</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="d2">
                            <div class="row rd" style="margin-left: 10px;">
                            <h2 style="display: contents;">3 <span style="margin-left: 120px;" class="material-icons">cancel_presentation</span></h2>
                            <p style="margin: 0 0 1px; margin-left: -15px;">Cancelled Order</p>
                            <span style="font-size: 13px;" class="material-icons">trending_down</span>
                      </div>
                        </div>
                    </div>
                </div>
            </mat-card>

        </div>
        <div class="col-md-12 mol">
          <div class="row tcd">
             <div class="col-md-6 mcb">
                <mat-card>
                <a style="color: black;" href="#"><h3>E-sign Count:</h3></a>
                <div class="row cr1">
                 <div class="col-md-3 ">
                     <div class="isq">
                        <div class="sq1">
                        </div>
                        <p style="margin-left: 10px;">Initiated</p>
                     </div>
                     <div class="isq">
                        <div class="sq2">
                        </div>
                        <p style="margin-left: 10px;">Signed</p>
                     </div>
                 </div>
                 <div class="col-md-3 ">
                    <div class="isq">
                        <div class="sq3">
                        </div>
                        <p style="margin-left: 10px;">Pending</p>
                     </div>
                     <div class="isq">
                        <div class="sq4">
                        </div>
                        <p style="margin-left: 10px;">Expired</p>
                     </div>
                </div>
                <div class="col-md-6 crm" matTooltip="Pending 20 orders">
                    <!-- <mat-spinner></mat-spinner> -->
                          <!-- <mat-progress-spinner class="example-card"
                              class="example-margin"
                              [color]="color"
                              [mode]="mode"
                              [value]="value" matTooltip="Pending 20 orders">
                               
                          </mat-progress-spinner> -->
                       <h3>30 K</h3>
                       <p>Initiated</p>
                </div>
                </div>
                  </mat-card>
             </div>
             <div class="col-md-6 mcb">
                <mat-card>
                    <a style="color: black;" href="#"><h3>E-stamp Count:</h3></a>
                    <div class="row cr1">
                        <div class="col-md-3 ">
                            <div class="isq">
                               <div class="sq1">
                               </div>
                               <p style="margin-left: 10px;">Initiated</p>
                            </div>
                            <div class="isq">
                               <div class="sq2">
                               </div>
                               <p style="margin-left: 10px;">Signed</p>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                           <div class="isq">
                               <div class="sq3">
                               </div>
                               <p style="margin-left: 10px;">Pending</p>
                            </div>
                            <div class="isq">
                               <div class="sq4">
                               </div>
                               <p style="margin-left: 10px;">Expired</p>
                            </div>
                       </div>
                       <div class="col-md-6 crm">
                           <h3>30 K</h3>
                           <p>Initiated</p>
                    </div>
                       </div>
                  </mat-card>
             </div>
          </div>
        </div>
    </div>
</div>