.container-fluid{
    height: calc(100vh - 135px);
    overflow: auto;
}
.d1{
    padding: 9px 15px;
   
    border: 1px solid purple;
    
    border-radius: 3px;
    /* background: rgb(243, 240, 243); */
    /* width: 270px; */
}
.d2{
    padding: 9px 15px;
   
    border: 1px solid purple;
    
    border-radius: 3px;
    background: rgb(243, 240, 243);
}
.fu{
    height: 15px;
}
.rbn
{
    display: flex;
    justify-content: space-between;
}

.sq1{
    height: 15px;
    width: 15px;
    background-color: #e2acf3;
}
.sq2{
    height: 15px;
    width: 15px;
    background-color: #ee69c2;
}
.sq3{
    height: 15px;
    width: 15px;
    background-color: #ee69c2;
}
.sq4{
    height: 15px;
    width: 15px;
    background-color: #e5c4f0;
}
.isq{
    display: flex;
}
.isu{
    display: flex;
}
/* for spinner */
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .example-card {
    margin-bottom: 10px;
  }
  .dte{
    border-radius: 15px;
    border: 1px solid #ddd;
}
.crm{
    height: 100px;
    width: 100px;
    border: 5px solid grey;
    border-radius: 100%;
}