<!-- <p>sidebar works!</p> -->

<div class="row">
    <div class="col-md-3">
  <!-- <h1>Sidebar fine</h1> -->
    <div class="m1-card">
        <mat-card>
            <mat-card-header>
              <mat-card-title  style="display: flex; justify-content: center;" ><h3>Welcome back,</h3> <span>Michael</span></mat-card-title>
              <!-- <mat-card-title class="mct" ><h3>Welcome back,</h3> <span>Michael</span></mat-card-title> -->
              <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
            </mat-card-header>
         
          </mat-card>
          <br>
    </div>
    </div>
</div>